# Prevent direct access to this folder
Options -Indexes

# Only allow image files
<FilesMatch "\.(jpg|jpeg|png|gif)$">
    Order allow,deny
    Allow from all
</FilesMatch>

# Deny access to all other files
<FilesMatch "^(?!.*\.(jpg|jpeg|png|gif)$).*$">
    Order deny,allow
    Deny from all
</FilesMatch>